{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header text-center">
        <h1>Board</h1>
    </div>
{{ wtf.quick_form(form) }}

    <div class="container">
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>user=User.query.filter_by(name=form.username.data).all()</td>
            </tr>
        </tbody>
    </table>
    </div>
    <a href="/writing" class="btn btn-default" role="button"> 작성 </a>
    <button type="button" class="btn btn-default pull-right" >삭제</button>

{% endblock %}
